@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

.homepage {
  height: 100vh;
}

.nav-main-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: black;
  border: 2px solid black;
  height: 40px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.nav-main-con .nav-logo-con {
  left: 0;
  position: absolute;
}
.nav-main-con nav {
  margin: 0 auto;
  display: none;
  z-index: 20;
}
@media only screen and (min-width: 680px) {
  .nav-main-con nav {
    display: block;
  }
}
.nav-main-con nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.nav-main-con nav ul li {
  margin: 0 50px;
  color: white;
  cursor: pointer;
  padding: 3px 10px;
}
.nav-main-con nav ul li:hover {
  background: white;
  color: black;
}

.banner-main-con {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  background: url(/tim-foster-wX64_Gjbclg-unsplash.jpg) no-repeat fixed;
  background-size: contain;
  height: 275px;
  overflow: hidden !important;
  background-color: black;
}
@media only screen and (min-width: 680px) {
  .banner-main-con {
    background: url(/tim-foster-wX64_Gjbclg-unsplash.jpg) no-repeat center center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-size: cover;
    height: calc(100vh - 40px);
  }
}
.banner-main-con .image-logo-con {
  width: 100%;
  height: 275px;
  position: absolute;
}
@media only screen and (min-width: 680px) {
  .banner-main-con .image-logo-con {
    width: 60%;
    height: 100%;
  }
}
.banner-main-con .image-logo-con .logo-image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
  margin-top: -80px;
}
@media only screen and (min-width: 680px) {
  .banner-main-con .image-logo-con .logo-image {
    -o-object-fit: contain;
       object-fit: contain;
    width: 70% !important;
    height: 100vh;
    margin: 0 auto;
    margin-top: 0px;
  }
}
.banner-main-con .banner-text {
  width: 100%;
  margin-top: auto;
  margin-bottom: 20px;
  color: white;
  position: relative;
  height: 90px;
  padding: 0 10px;
}
@media only screen and (min-width: 680px) {
  .banner-main-con .banner-text {
    margin-bottom: 50px;
    padding: 10px;
    height: auto;
  }
}
@media only screen and (min-width: 900px) {
  .banner-main-con .banner-text {
    margin-bottom: 10px;
  }
}
.banner-main-con .banner-text .banner-heading-table {
  display: none;
}
@media only screen and (min-width: 680px) {
  .banner-main-con .banner-text .banner-heading-table {
    display: block;
    font-size: 30px;
  }
}
@media only screen and (min-width: 900px) {
  .banner-main-con .banner-text .banner-heading-table {
    font-size: 50px;
  }
}
.banner-main-con .banner-text .banner-heading-mobile-desktop {
  font-size: 20px;
  line-height: 2;
}
@media only screen and (min-width: 680px) {
  .banner-main-con .banner-text .banner-heading-mobile-desktop {
    display: none;
  }
}
.banner-main-con .banner-text p {
  font-size: 15px;
  line-height: 1.5;
}
@media only screen and (min-width: 680px) {
  .banner-main-con .banner-text p {
    font-size: 20px;
  }
}
.banner-main-con .banner-text .lets-talk-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: 0.1px solid white;
  width: 100px;
}
@media only screen and (min-width: 680px) {
  .banner-main-con .banner-text .lets-talk-btn {
    width: 200px;
    height: 40px;
    font-size: 25px;
    position: relative;
    bottom: -10px;
    left: 3px;
  }
}
.banner-main-con .banner-text .lets-talk-btn button {
  width: 100%;
  height: 100%;
  border: none;
  background: black;
  color: white;
  padding: 5px;
  cursor: pointer;
}
.banner-main-con .banner-text .lets-talk-btn button:hover {
  background: white;
  color: black;
}
@media only screen and (min-width: 680px) {
  .banner-main-con .banner-text .lets-talk-btn button {
    font-size: 20px;
  }
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
}
@media only screen and (min-width: 680px) {
  .about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 680px) {
  .about-us {
    height: 390px;
  }
}
@media only screen and (min-width: 900px) {
  .about-us {
    height: 450px;
  }
}
.about-us .video-con {
  width: 100%;
}
@media only screen and (min-width: 680px) {
  .about-us .video-con {
    width: 40%;
  }
}
.about-us .video-con img {
  width: 100%;
}
.about-us .about-txt-con {
  position: relative;
  overflow: hidden;
}
@media only screen and (min-width: 680px) {
  .about-us .about-txt-con {
    width: 50%;
    height: 100% !important;
    margin: 0;
  }
}
.about-us .about-txt-con h1 {
  position: relative;
  font-size: 30px;
  margin-top: 15px;
  margin-left: 25px;
  z-index: 10;
}
.about-us .about-txt-con h1 span {
  padding-bottom: 8px;
  border-bottom: 5px solid black;
}
@media only screen and (min-width: 680px) {
  .about-us .about-txt-con h1 {
    font-size: 40px;
  }
}
.about-us .about-txt-con .bg-img {
  position: absolute;
  left: 100px;
  top: -100px;
  z-index: 0;
  width: 100%;
  opacity: 0.7;
}
@media only screen and (min-width: 680px) {
  .about-us .about-txt-con .bg-img {
    left: 250px;
  }
}
.about-us .about-txt-con p {
  position: relative;
  font-size: 15px;
  margin-top: 25px;
  margin-left: 25px;
  font-weight: 300;
  width: 80%;
  z-index: 20;
}
@media only screen and (min-width: 900px) {
  .about-us .about-txt-con p {
    width: 50%;
  }
}
.about-us .about-txt-con h4 {
  margin-top: 20px;
  margin-left: 25px;
}
.about-us .about-txt-con .goal-img {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
  background: white;
  z-index: 10;
}
.about-us .about-txt-con .goal-img img {
  width: 100px;
  position: relative;
}
@media only screen and (min-width: 900px) {
  .about-us .about-txt-con .goal-img {
    width: 400px;
    margin-left: 25px;
  }
}
.about-us .about-txt-con .lets-talk-btn {
  margin-top: 20px;
  margin-left: 20px;
  border: 0.1px solid white;
  width: 150px;
  height: 40px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 680px) {
  .about-us .about-txt-con .lets-talk-btn {
    width: 200px;
    height: 40px;
    font-size: 25px;
    position: relative;
    bottom: -10px;
    left: 3px;
  }
}
.about-us .about-txt-con .lets-talk-btn button {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background: white;
  color: black;
  padding: 5px;
  cursor: pointer;
}
.about-us .about-txt-con .lets-talk-btn button:hover {
  background: black;
  color: white;
}
@media only screen and (min-width: 680px) {
  .about-us .about-txt-con .lets-talk-btn button {
    font-size: 20px;
  }
}

.service {
  background: whitesmoke;
}
.service h1 {
  position: relative;
  font-size: 30px;
  margin-left: 55vw;
  margin-bottom: 20px;
  padding-top: 50px;
  z-index: 10;
}
.service h1 span {
  padding-bottom: 5px;
  border-bottom: 5px solid black;
}
@media only screen and (min-width: 680px) {
  .service h1 {
    font-size: 40px;
    margin-left: 70vw;
  }
}
.service .single-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 680px) {
  .service .single-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 680px) and (min-width: 900px) {
  .service .single-card {
    max-width: 1600px;
  }
}
.service .single-card .card {
  width: 100%;
  position: relative;
}
@media only screen and (min-width: 680px) {
  .service .single-card .card {
    width: 50%;
    transform: scale(0.98);
  }
}
.service .single-card .card .service-txt {
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  position: absolute;
  width: 80%;
  bottom: 0;
  padding: 5px;
  padding-left: 10px;
}
@media only screen and (min-width: 680px) {
  .service .single-card .card .service-txt {
    padding-left: 20px;
  }
}
.service .single-card .card .service-txt .desc {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.service .single-card .card .service-txt .desc h2 {
  font-size: 40px !important;
  color: white;
}
.service .single-card .card .service-txt .desc p {
  color: white;
  width: 100%;
  line-height: 1.5;
}
@media only screen and (min-width: 900px) {
  .service .single-card .card .service-txt .desc p {
    width: 50%;
  }
}
.service .single-card .card .service-txt .desc .card-btn {
  width: 80px;
  height: 25px;
  border: 0.1px solid white;
  margin-bottom: 20px;
}
.service .single-card .card .service-txt .desc .card-btn button {
  width: 100%;
  height: 100%;
  border: none;
  color: black;
  background: white;
  cursor: pointer;
}
.service .single-card .card .service-txt .desc .card-btn button:hover {
  background: black;
  color: white;
}
.service .single-card .card img {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 680px) {
  .service .single-card .card img {
    height: 250px;
  }
}
@media only screen and (min-width: 900px) {
  .service .single-card .card img {
    height: 350px;
  }
}
@media only screen and (min-width: 1200px) {
  .service .single-card .card img {
    height: 450px;
  }
}

.teamwork {
  margin-top: 80px;
  background: black;
}
.teamwork .lower-team-bg {
  background: url(/marvin-meyer-SYTO3xs06fU-unsplash.jpg) no-repeat center center fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  height: 700px;
  padding: 10px;
}
.teamwork .lower-team-bg h2 {
  font-size: 35px;
  color: #ffffff;
  margin-bottom: auto;
}
@media only screen and (min-width: 680px) {
  .teamwork .lower-team-bg h2 {
    font-size: 50px;
  }
}
.teamwork .lower-team-bg .team-quote {
  margin-bottom: 200px;
  padding: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: white;
}
@media only screen and (min-width: 680px) {
  .teamwork .lower-team-bg .team-quote {
    margin-bottom: 100px;
  }
}
.teamwork .lower-team-bg .team-quote p {
  font-size: 20px;
}
.teamwork .lower-team-bg .team-quote h2 {
  font-size: 40px;
  color: white;
}
@media only screen and (min-width: 680px) {
  .teamwork .lower-team-bg .team-quote h2 {
    font-size: 50px;
  }
}
.teamwork .lower-team-bg .team-quote .team-btn {
  width: 100px;
  height: 30px;
  border: 0.1px solid white;
  margin-top: 20px;
}
@media only screen and (min-width: 680px) {
  .teamwork .lower-team-bg .team-quote .team-btn {
    width: 120px;
    height: 35px;
  }
}
.teamwork .lower-team-bg .team-quote .team-btn button {
  width: 100%;
  height: 100%;
  border: none;
  color: black;
  background: white;
  cursor: pointer;
}
.teamwork .lower-team-bg .team-quote .team-btn button:hover {
  background: black;
  color: white;
}

.contact-form {
  height: 70vh;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form form {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  max-width: 700px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-form form .input-main-con {
  width: 100%;
}
.contact-form form .input-main-con .input-con {
  width: 100%;
}
.contact-form form .input-main-con .input-con input {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding: 5px;
  font-size: 15px;
}
.contact-form form .input-main-con .input-con textarea {
  width: 100%;
  height: 70px;
  margin-top: 10px;
  padding: 5px;
  font-size: 15px;
}
.contact-form form .login-btn-link {
  border: 1px solid black;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
.contact-form form .login-btn-link input {
  width: 100%;
  height: 100%;
  border: none;
  color: black;
  background: white;
  cursor: pointer;
}
.contact-form form .login-btn-link input:hover {
  background: black;
  color: white;
}/*# sourceMappingURL=style.css.map */